<h1>Specialists</h1>
<div class="content">
  <div class="pathbox">
    <div class="axis_box">
      <div *ngFor="let label of axises" class="axis">
          {{label}}
      </div>
    </div>
    <svg class="joyplot" viewBox="0 0 235 50" transform="matrix(1 0 0 -1 0 0)">
      <svg *ngFor="let path of paths"
           viewBox="0 0 235 50">
           <!--[attr.transform]="path.offset">-->
        <svg:defs>
          <svg:clipPath [attr.id]="path.id">
            <svg:path [attr.d]="path.path"/>
          </svg:clipPath>
        </svg:defs>

        <svg:rect
            *ngFor="let box of path.boxes"
            [attr.x]="box.x - 5"
            y="0"
            [attr.width]="10"
            className="box"
            height="50"
            [attr.stroke]="box.color"
            stroke-opacity=".7"
            (mouseenter)="displayName(box.name)"
            (mouseleave)="clearName()"
            stroke-width=".1"
            fill-opacity=".95"
            [attr.clip-path]="'url(#' + path.id +')'"
            [attr.fill]="box.color"/>

        <svg:path [attr.d]="path.path"
            stroke="#FFFFFF"
            stroke-width=".2"
            fill="none"/>
      </svg>
    </svg>
  </div>
  <h3 *ngIf="hovered">{{hovered}}</h3>
  <h3 *ngIf="!hovered">Hover over bars for details</h3>
</div>
