.tmd_comparison {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.us {
  border: 1px black solid;
  background-color: #81cc8e;
  border-radius: 15px;
  padding: 1em;
}

.category {
  /* display: flex; */
  max-width: 1200px;
}

.questions {
  width: 60%;
  float: left;
}

.sidebar {
  float: right;
  width: 40%;
  padding-left: 2em;
}

.sidebarContent {
  position: fixed;
}

.figure {
  /* height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; */
  padding-top: 0px;
  transition: 0.5s;
  display: none;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.active .openbtn:hover {
  background-color: #444;
}

.floater {
  /* position: fixed; */
  position: absolute;
  right: 5px;
}

.placeholder {
  width: 536px;
}

.org_box {
  margin-left: 1em;
}

.info_box {
  width: 500px;
}
