<div class="category">
  <div *ngIf="category" class="questions">
      <h3 *ngIf="!showTosText">{{category.name}}</h3>
      <h5 *ngIf="showTosText">Please answer the following questions for your trauma center.</h5>
      <div class="question" *ngFor="let question of questions">
        <my-question (changed)="checkDeps($event)" [question]="question"></my-question>
      </div>
    <div id="no_questions">Due to your previous responses, this section has no questions.</div>
  </div>

  <div id="rightColumn" class="sidebar" [hidden]="!showResultComparison">
    <div id="sidebarContent">
      <div id="figure" class="figure">
        <div class="answers">
          <div class="floater">
            <app-org-figures #figures [category]="category.name"></app-org-figures>
          </div>
          <div class="placeholder"></div>
        </div>
        <div *ngIf="our_tmd_stats" class="tmd_comparison org_box">
          <div class="floater">
            <div class='info_box'>
              <p>An indication of which areas your TMD differs from a certified TMD.</p>
            </div>
            <div class="us">
              <h3>Certified TMD</h3>
              <app-org-tmd-svg [tmd_stats]="our_tmd_stats"></app-org-tmd-svg>
            </div>
          </div>
          <div class="placeholder"></div>
        </div>
        <div *ngIf="our_tpm_stats" class="tmd_comparison org_box">
          <div class="floater">
            <div class='info_box'>
              <p>An indication of which areas your TPM differs from a certified TPM.</p>
            </div>
            <div class="us">
              <h3>Certified TPM</h3>
              <app-org-tpm-svg [tpm_stats]="our_tpm_stats"></app-org-tpm-svg>
            </div>
          </div>
          <div class="placeholder"></div>
        </div>
    </div>
  </div>

</div>
