<div *ngIf="user" id="tiptoe_home">
  <div class="registration">
    <p>
      Welcome to the TIPTOE questionnaire. 
      This questionnaire  collects non-identifying information about your institution and stores the data in the TIPTOE data repository.
      <b>The non-identifying data in the TIPTOE data repository will be used as comparative data for future users and it will be accessible for use by public health researchers.</b>
      No registration is required. If you would like to access your answers or complete the questionnaire at a later time please provide an email address below.
      This email will only be used for providing a link back to your questionnaire and never shared with third parties.
      This questionnaire relies on cookies to function and by starting one you consent to their use.
      Please direct feedback about the questionnaire to the email address at the bottom of the page.
    </p>
  </div>
  <div class="registration">
    <div>
      <small>This email address can be used to retrieve this questionnaire at a later time or on another computer</small>
      <br/>
      <input [(ngModel)]="user.email" type="email" placeholder="Email Address"><button type="button" class="btn btn-secondary" (click)="updateEmail()">Update Email</button>
      <button type="button" class="btn btn-danger logout" (click)="logout()">Logout</button>
    </div>
  </div>
  <br/>
  <br/>
  <div class="registration">
    <h3>Submit Your TQIP</h3>
    <p>Use the button below to submit your TQIP. <b>Please submit a new TQIP for every new survey.</b></p>
    <button type="button" class="btn btn-info tqip-button tqip-text" onclick="window.location.href='https://uams.app.box.com/f/ffcb38b254cf4868bdb5cd7460cba11c';"> Submit TQIP</button>
    <br/>
    <h3>Your TIPTOE Questionnaires</h3>
    <p>You can continue or review answers to the questionnaire by selecting the Survey Date and clicking Begin.<br>  Answers to the questionnaire are saved to the server as soon as an answer is selected, there is no need to "save" any of your work.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Organization</th>
                <th></th>
                <th>Survey Date</th>
                <th>Complete?</th>
                <th></th>
            </tr>
        </thead>
        <ng-container *ngFor="let org of organizations">
            <tr *ngIf="org.org_type== 'tiptoe'">
                <td>
                  <b>{{org.name}}</b>
                </td>
                <td><button type="button" class="btn btn-primary tiptoe-button" (click)="setActiveSurvey( org.id)">
                    Begin Survey 
                </button>
                </td>
                <td><select  id='select{{org.id}}' (init)="updateApproval()" (change)="updateApproval()" > 
                    <ng-container *ngFor="let survey of surveys; let last = last">
                      <option *ngIf="survey.organization==org.id"  value={{survey.id}}>
                        {{survey.date}}
                        {{last ? updateApproval() : ''}}
                      </option>
                    </ng-container>
                </select>
                </td>
                <td *ngIf="approval[org.id]; else notApproved">
                  yes 
                  &#10004;
                </td>

                <ng-template #notApproved>
                  <td> 
                    no
                    &#x2718;
                  </td>
                </ng-template>
                <td><button id='newSurvey{{org.id}}' type="button" (click)="orgForNewSrvy=org" class="btn btn-info tiptoe-button tqip-text" data-bs-toggle="modal"
                                                                                       data-bs-target="#newModal">
                    New Survey 
                </button>
                </td>
            </tr>
        </ng-container>
    </table>
    <br/>
    
      <h4>Invite to Organization</h4>
      <form class="form-inline">
        Invite:
        <input style="width:300px" type="text" name="newEmail" [(ngModel)]="new_email" placeholder="Email Address">
        To:
        <select [(ngModel)]="invite_to_org" id="orgSelect" style="height:30px">
          <option value=null disabled>--- Select Organization ---</option>
          <option *ngFor="let organization of organizations" [ngValue]="organization.id" >
            {{organization.name}}
          </option>
        </select>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inviteModal">Send Invite</button>
      </form>
    </div>
</div>

<!-- Invite Modal -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inviteModalLabel">Send Invite</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="message-text" class="col-form-label">Include a message with the invitation.  A login link will be added below message.  You do not need to include a link.</label>
                <textarea [(ngModel)]="invite_message" rows=10  class="form-control" id="message-text" name="message-text"></textarea>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="sendInvitation()" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>

<!-- New Survey Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newModalLabel">New Survey</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <label for="start">TQIP Date:&nbsp; </label>

              <input type="date" id="start" name="survey-start"
                     [(ngModel)]="surveyDate">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="newSurvey()" data-bs-dismiss="modal" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>
