<div class="questionnaire">
  <div class="categories container-fluid">
      <div class="list-group col-sm-4 col-xs-12" *ngFor="let group of groups">
          <h2 class="text-capitalize">{{group}}</h2>
          <div class="list-group-item"
              *ngFor="let category of category_group(group)"
              [class.list-group-item-info]="category.name === selectedCategory.name"
              (click)="onSelect(category)">
            <div class="progress-bar" [style.width]="percent(category)"></div>
            <label class="category-name">{{category.name}}</label>
          </div>
      </div>
  </div>
  <my-category *ngIf="selectedCategory" (changed)="updatePercent()" [category]="selectedCategory"></my-category>
  <div class='next'>
    <label class="btn btn-primary col-sm-2"
        (click)="nextCategory()">
        Next
    </label>
  </div>
</div>
