<div class="bar_chart">
  <div class="axis_box">
    <div *ngFor="let label of axises" class="axis">
        {{label}}%
    </div>
  </div>
  <div class="bar_box">
    <div *ngFor="let bar of data.bars"
         class="bar"
         [title]="text_clean(bar.label)"
         (mouseenter)="mouse_over(bar.label, bar.active)"
         (mouseleave)="mouse_exit()"
         [style.background-color]="bar.color"
         [style.height.%]="bar.height">
         <p *ngIf="bar.active" class="marked">*</p>
    </div>
  </div>
</div>
<p *ngIf="hover == null">{{data.name}}</p>
<p class="hover" *ngIf="hover">{{hover}}</p>
