<svg *ngIf="tpm_stats" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="531px" height="311px" version="1.1">
    <svg:g transform="translate(0.5,0.5)">
        <svg:rect x="90" y="0" width="350" height="90" fill="#e1d5e7" stroke="#9673a6" pointer-events="none" />
        <svg:g transform="translate(235.5,7.5)">
            <svg:switch>
                <svg:foreignObject style="overflow:visible;" pointer-events="all" width="58" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                    <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 59px; white-space: nowrap; overflow-wrap: normal; text-align: center;">
                        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Reports To</xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:text x="29" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">Reports To</svg:text>
            </svg:switch>
        </svg:g>
        <svg:rect x="0" y="125" width="120" height="160" fill="#fff2cc" stroke="#d6b656" pointer-events="none" />
        <svg:g transform="translate(18.5,132.5)">
            <svg:switch>
                <svg:foreignObject style="overflow:visible;" pointer-events="all" width="83" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                    <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 84px; white-space: nowrap; overflow-wrap: normal; text-align: center;">
                        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Responsibilities</xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:text x="42" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">Responsibilities</svg:text>
            </svg:switch>
        </svg:g>
        <svg:rect x="410" y="100" width="120" height="210" fill="#ffe6cc" stroke="#d79b00" pointer-events="none" />
        <svg:g transform="translate(435.5,107.5)">
            <svg:switch>
                <svg:foreignObject style="overflow:visible;" pointer-events="all" width="69" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                    <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 70px; white-space: nowrap; overflow-wrap: normal; text-align: center;">
                        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Certifications</xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:text x="35" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">Certifications</svg:text>
            </svg:switch>
        </svg:g>
        <svg:rect x="130" y="103" width="270" height="198" fill="#ffffff" stroke="#000000" pointer-events="none" />
        <svg:g transform="translate(194.5,195.5)">
            <svg:switch>
                <svg:foreignObject style="overflow:visible;" pointer-events="all" width="141" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                    <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 142px; white-space: nowrap; overflow-wrap: normal; text-align: center;">
                        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Trauma Program Manager</xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:text x="71" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">Trauma Program Manager</svg:text>
            </svg:switch>
        </svg:g>
        <svg:rect [class.good]="reports('Trauma Medical Director')" x="210" y="30" width="100" height="50" fill="#ffffff" stroke="#000000" pointer-events="none" />
        <svg:g transform="translate(211.5,41.5)">
            <svg:switch>
                <svg:foreignObject style="overflow:visible;" pointer-events="all" width="96" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                    <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 96px; white-space: normal; overflow-wrap: normal; text-align: center;">
                        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Trauma Medical Director</xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:text x="48" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">Trauma Medical Director</svg:text>
            </svg:switch>
        </svg:g>
        <svg:rect [class.good]="reports('Nurse Executive')" x="310" y="30" width="110" height="50" fill="#ffffff" stroke="#000000" pointer-events="none" />
        <svg:g transform="translate(321.5,48.5)">
            <svg:switch>
                <svg:foreignObject style="overflow:visible;" pointer-events="all" width="87" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                    <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 88px; white-space: nowrap; overflow-wrap: normal; text-align: center;">
                        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Nurse Executive</xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:text x="44" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">Nurse Executive</svg:text>
            </svg:switch>
        </svg:g>
        <svg:rect [class.good]="tpm_stats.evaluating_nursing" x="10" y="165" width="100" height="50" fill="#ffffff" stroke="#000000" pointer-events="none" />
        <svg:g transform="translate(11.5,176.5)">
            <svg:switch>
                <svg:foreignObject style="overflow:visible;" pointer-events="all" width="96" height="27" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                    <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 96px; white-space: normal; overflow-wrap: normal; text-align: center;">
                        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Evaluating Nursing Care</xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:text x="48" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">Evaluating Nursing Care</svg:text>
            </svg:switch>
        </svg:g>
        <svg:rect [class.good]="tpm_stats.coordinating_quality_improvement" x="10" y="220" width="100" height="50" fill="#ffffff" stroke="#000000" pointer-events="none" />
        <svg:g transform="translate(11.5,224.5)">
            <svg:switch>
                <svg:foreignObject style="overflow:visible;" pointer-events="all" width="96" height="41" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                    <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 96px; white-space: normal; overflow-wrap: normal; text-align: center;">
                        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Coordinating Trauma Quality Improvement</xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:text x="48" y="27" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">Coordinating Trauma Quality Improvement</svg:text>
            </svg:switch>
        </svg:g>
        <svg:rect [class.good]="certification('ATNC')" x="420" y="150" width="100" height="50" fill="#ffffff" stroke="#000000" pointer-events="none" />
        <svg:g transform="translate(453.5,168.5)">
            <svg:switch>
                <svg:foreignObject style="overflow:visible;" pointer-events="all" width="32" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                    <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 33px; white-space: nowrap; overflow-wrap: normal; text-align: center;">
                        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">ATNC</xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:text x="16" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">ATNC</svg:text>
            </svg:switch>
        </svg:g>
        <svg:rect [class.good]="certification('TNCC')" x="420" y="200" width="100" height="50" fill="#ffffff" stroke="#000000" pointer-events="none" />
        <svg:g transform="translate(453.5,218.5)">
            <svg:switch>
                <svg:foreignObject style="overflow:visible;" pointer-events="all" width="33" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                    <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 34px; white-space: nowrap; overflow-wrap: normal; text-align: center;">
                        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
                            <xhtml:div>TNCC</xhtml:div>
                        </xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:text x="17" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</svg:text>
            </svg:switch>
        </svg:g>
        <svg:rect [class.good]="reports('Head of Emergency Medicine')" x="110" y="30" width="100" height="50" fill="#ffffff" stroke="#000000" pointer-events="none" />
        <svg:g transform="translate(111.5,34.5)">
            <svg:switch>
                <svg:foreignObject style="overflow:visible;" pointer-events="all" width="96" height="41" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                    <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 96px; white-space: normal; overflow-wrap: normal; text-align: center;">
                        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Head of Emergency Medicine</xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:text x="48" y="27" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">Head of Emergency Medicine</svg:text>
            </svg:switch>
        </svg:g>
        <svg:rect [class.good]="tpm_stats.continuing_education" x="420" y="250" width="100" height="50" fill="#ffffff" stroke="#000000" pointer-events="none" />
        <svg:g transform="translate(421.5,254.5)">
            <svg:switch>
                <svg:foreignObject style="overflow:visible;" pointer-events="all" width="96" height="41" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                    <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 96px; white-space: normal; overflow-wrap: normal; text-align: center;">
                        <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">Continuing Trauma Education</xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:text x="48" y="27" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">Continuing Trauma Education</svg:text>
            </svg:switch>
        </svg:g>
    </svg:g>
</svg>
