<nav class="navbar navbar-light bg-faded">
    <img class="navbar-brand" src="https://cafe-trauma.com/images/cafe_logo_white.png">
    <h2 class="navbar-brand">CAFE Web Application</h2>
    <div class="nav-buttons float-xs-right">
    <a routerLink="/about"> <button type="button" class="nav-item btn btn-secondary">About</button></a>
    <a routerLink="/user"> <button type="button" class="nav-item btn btn-secondary">User</button></a>
    <a routerLink="/questionnaire"> <button type="button" class="nav-item btn btn-secondary">Questionnaire</button></a>
    </div>
</nav>
<div class="container main">
    <router-outlet></router-outlet>
</div>
