<div class="section-holder">
  <app-org-personnel class="org-personnel"></app-org-personnel>
  <app-org-policies class="org-section"></app-org-policies>
  <app-org-joyplot class="org-section"></app-org-joyplot>
</div>

<div *ngIf="false" class="organogram">
  <div class="you">
    <div class="spec-holder">
      <app-org-speciality class="speciality" [speciality_type]="'surgery'"></app-org-speciality>
      <app-org-speciality class="speciality" [speciality_type]="'trauma_surgery'"></app-org-speciality>
      <app-org-speciality class="speciality" [speciality_type]="'orthopedic'"></app-org-speciality>
      <app-org-speciality class="speciality" [speciality_type]="'neurosurgery'"></app-org-speciality>
      <app-org-speciality class="speciality" [speciality_type]="'anesthesiology'"></app-org-speciality>
    </div>
  </div>
  <div class="them">
    <div class="spec-holder">
      <app-org-speciality class="speciality" [speciality_type]="'surgery'"></app-org-speciality>
      <app-org-speciality class="speciality" [speciality_type]="'trauma_surgery'"></app-org-speciality>
      <app-org-speciality class="speciality" [speciality_type]="'orthopedic'"></app-org-speciality>
      <app-org-speciality class="speciality" [speciality_type]="'neurosurgery'"></app-org-speciality>
      <app-org-speciality class="speciality" [speciality_type]="'anesthesiology'"></app-org-speciality>
    </div>
  </div>
</div>
