<div *ngIf="user">
  <h5>Hello {{user.username}}
  <button type="button" class="btn" (click)="logout()">Logout</button>
  </h5>
  <br/>
  <br/>
  <br/>
  <h3>Your Trauma Organizations</h3>
  <table class="table">
      <thead>
          <tr>
              <th>Organization Name</th>
              <th>Questionnaire</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tr *ngFor="let organization of organizations">
          <td>{{organization.name}}</td>
          <td><button type="button"
              class="btn"
              [class.btn-info]="organization.org_type == 'center'"
              [class.btn-warning]="organization.org_type == 'system'"
              (click)="setActiveOrganization(organization)">Go To {{organization.org_type}} Questionnaire</button></td>
          <td><button type="button" class="btn btn-danger"(click)="deleteOrganization(organization)">Delete</button></td>
      </tr>
  </table>
  <br/>

    <h4>Create Questionnaire for new Organization</h4>
    <form class="form-inline">
    <input style="width:300px" type="text" name="newOrgName" [(ngModel)]="new_org_name" placeholder="New Organization Name">
    <label style="padding:.25em" class="radio-inline alert-info">
      <input type="radio" name="inlineRadioOptions" id="center_radio"
      (click)="new_org_type='center'"
      [checked]="new_org_type === 'center'"
      name="radioc">Trauma Center
    </label>
    <label style="padding:.25em" class="radio-inline alert-warning">
      <input type="radio" name="inlineRadioOptions" id="system_radio"
      (click)="new_org_type='system'"
      [checked]="new_org_type === 'system'"
      name="radios">Trauma System
    </label>
    <button type="button" class="btn btn-success" (click)="createOrganization()">Create Organization</button>
    </form>
</div>
