<div *ngIf="user">
  <h3>Select or Create Organization</h3>
  <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Type</th>
          </tr>
      </thead>
      <tr *ngFor="let organization of organizations">
          <td>{{organization.name}}</td>
          <td>{{organization.org_type}}</td>
          <td><button *ngIf="user.active_organization == null || user.active_organization.id !== organization.id" type="button" class="btn" (click)="setActiveOrganization(organization)">Set Active</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteOrganization(organization)">Delete</button></td>
      </tr>
  </table>
  <br/>

    <h4>Create Questionnaire for new Organization</h4>
    <input type="text" name="newOrgName" [(ngModel)]="new_org_name" placeholder="New Organization Name">
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="center_radio"
      (click)="new_org_type='center'"
      [checked]="new_org_type === 'center'"
      name="radioc">Trauma Center
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="system_radio"
      (click)="new_org_type='system'"
      [checked]="new_org_type === 'system'"
      name="radios">Trauma System
    </label>
    <button type="button" class="btn btn-success" (click)="createOrganization()">Create Organization</button>
    <br>
    <button type="button" class="btn" (click)="logout()">Logout</button>
</div>
