div.card {
    padding: 1em;
}

.disabled {
    color: lightgrey;
}

.help-text {
    color: red;
    font-weight: bold;
}

.topline {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 20px;
}

.server_state {
}

.question {
  flex-direction: column;
}

input[type=checkbox] {
  margin-right: 5px;
}

input[type=radio] {
  margin-right: 3px;
}

.radio-inline {
  margin-right: 5px;
}
