<div class="card question" *ngIf="question" [@visibilityChanged]="visibility">
    <div class="topline">
      <div *ngIf="user && user.is_staff">
          <span>#{{question.id}}</span>
          <a *ngIf="question.graph" href="/graphs/{{question.id}}.png" target="_blank"><img src="/images/gicon.png"></a>
          <a href="/admin/questionnaire/question/{{question.id}}/change/" target="_blank"><img src="/images/admin_icon.png"></a>
      </div>
      <span class="server_state">
        <img *ngIf="server_state == 'success'" alt="success" class="icon" src="/images/success.png">
        <img *ngIf="server_state == 'loading'" alt="loading" class="icon" src="/images/loading.gif">
        <img *ngIf="server_state == 'failure'" alt="failure" class="icon" src="/images/failure.png">
      </span>
    </div>
    <p class="card-text" [innerHTML]="question.text | define"></p>
    <form>
        <ng-template [ngIf]="question.q_type === 'text'">
          <fieldset class="form-group">
            <input type="text" class="form-control"
                   placeholder="Text..."
                   (blur)="setValue()"
                   [(ngModel)]="answer.text"
                   name="text">
          </fieldset>
        </ng-template>
        <ng-template [ngIf]="question.q_type === 'int'">
          <fieldset class="form-group">
            <input type="number" class="form-control"
                   placeholder="Number"
                   (blur)="setValue()"
                   [(ngModel)]="answer.integer"
                   name="number"
                   min=0>
          </fieldset>
        </ng-template>
        <ng-template [ngIf]="question.q_type === 'combo'">
          <fieldset class="form-group">
              <select class="form-select"
                  (blur)="setValue()"
                  [(ngModel)]="answer.text"
                  name="combo">
                <option></option>
                <option *ngFor="let option of question.options" [value]="option.text">
                    {{option.text}}
                </option>
            </select>
          </fieldset>
        </ng-template>
        <ng-template [ngIf]="question.q_type === 'unit'">
          <fieldset class="form-inline">
            <input type="number" class="form-control"
                   placeholder="Number"
                   (blur)="setValue()"
                   [(ngModel)]="answer.integer"
                   name="number">
              <select class="form-control"
                  (blur)="setValue()"
                  [(ngModel)]="answer.text"
                  name="combo">
                <option></option>
                <option *ngFor="let option of question.options" [value]="option.text">
                    {{option.text}}
                </option>
            </select>
          </fieldset>
        </ng-template>
        <ng-template [ngIf]="question.q_type === 'check'">
          <fieldset class="form-group">
              <div class="checkbox" *ngFor="let option of question.options">
                    <input *ngIf="option.text!='Other'" type="checkbox"
                    [id]="option.id"
                    (click)="setCheck(option.id)"
                    [checked]="isChecked(option.id)"
                    [value]="option.id"
                    name="check">
                  <label *ngIf="option.text!='Other'" for="{{option.id}}" [innerHTML]="option.text | define"></label>
              </div>
              <div class="checkbox" *ngFor="let option of question.options">
                    <input *ngIf="option.text=='Other'" type="checkbox"
                    [id]="option.id"
                    (click)="setCheck(option.id)"
                    [checked]="isChecked(option.id)"
                    [value]="option.id"
                    name="check">
                  <label *ngIf="option.text=='Other'" for="{{option.id}}" [innerHTML]="option.text | define"></label>
              </div>
          </fieldset>
        </ng-template>
        <ng-template [ngIf]="question.q_type === 'bool'">
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1"
              (click)="answer.yesno=true;answer.integer=null; setValue()"
              [checked]="answer.yesno"
              name="radioyes">Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2"
              (click)="answer.yesno=false;answer.integer=null; setValue()"
              [checked]="answer.yesno === false"
              name="radiono">No
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2"
              (click)="answer.integer=-1;answer.yesno=null; setValue()"
              [checked]="answer.integer === -1"
              name="radiona">N/A
            </label>
        </ng-template>
        <small *ngIf="question.help_text && user && user.is_staff" class="help-text">{{question.help_text}}</small>
    </form>
</div>
