<nav class="navbar navbar-light bg-faded">
    <a href="index.html"><img class="navbar-brand" alt="TIPTOE logo" src="/images/tiptoe_logo_white.png"></a>
    <div class="nav-buttons float-xs-right">
      <div class="dropdown"><div class="nav-item"><a *ngIf="user && user.is_staff" class="nav-link" href="/admin/" target="_">Admin</a></div></div>
      <div class="dropdown"><div class="nav-item"><a *ngIf="user" (click)="toTiptoe()" class="nav-link" routerLink="/tiptoe">Home</a></div></div>
      <div class="dropdown">
        <div class="nav-item">About TIPTOE <sup>&#8964;</sup></div>
        <div class="dropdown-content">
          <a (click)="toAbout()" routerLink="/partners" routerLinkActive="active">Partners</a>
          <a (click)="toAbout()" routerLink="/publications" routerLinkActive="active">Publications</a>
          <a (click)="toAbout()" routerLink="/resources" routerLinkActive="active">Resources</a>
          <a (click)="toAbout()" routerLink="/training" routerLinkActive="active">Training</a>
          <!-- <a (click)="toAbout()" routerLink="/uses" routerLinkActive="active">Use Cases</a> -->
        </div>
      </div>
      <div class="dropdown">
        <div class="nav-item">Researcher Tools <sup>&#8964;</sup></div>
        <div class="dropdown-content">
          <a (click)="toAbout()" routerLink="/sparql" routerLinkActive="active">SPARQL query</a>
        </div>
      </div>
    </div>
</nav>
<div class="main">
    <app-error id='errorBar'></app-error>
    <div class="registration" *ngIf="!user && !about">
      <p>
        Welcome to the TIPTOE questionnaire. 
        This questionnaire  collects non-identifying information about your institution and stores the data in the TIPTOE data repository.
        <b>The non-identifying data in the TIPTOE data repository will be used as comparative data for future users and it will be accessible for use by public health researchers.</b>
        No registration is required. If you would like to access your answers or complete the questionnaire at a later time please provide an email address below.
        This email will only be used for providing a link back to your questionnaire and never shared with third parties.
        This questionnaire relies on cookies to function and by starting one you consent to their use.
        Please direct feedback about the questionnaire to the email address at the bottom of the page.
      </p>

      <div class="form-box" *ngIf="!user">
        <p>Please enter your email address to login. More instructions here.</p>
        <input [(ngModel)]="email2" placeholder="Email Address" type="email">
        <button class="btn btn-primary" (click)="retrieveUser()">Send Email</button>
      </div>
    </div>
    <router-outlet *ngIf="user || about"></router-outlet>
</div>
