.tmd_comparison {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.us {
  border: 1px black solid;
  background-color: #81cc8e;
  border-radius: 15px;
  padding: 1em;
}

.floater {
  position: fixed;
  right: 5px;
}

.placeholder {
  width: 536px;
}

.category {
  display: flex;
  max-width: 1200px;
}

.questions {
  display: flex;
  flex-direction: column;
}

.org_box {
  margin-left: 1em;
}

.info_box {
  width: 500px;
}
