/* Many thanks to http://codepen.io/Sambego/pen/zKLar */

.box {
  height: 180px;
  width: 180px;
}

.mask {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 50%;
}

.semi-circle {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: #1abc9c;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}
.semi-circle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: block;
  width: 70%;
  height: 70%;
  margin-left: -35%;
  background: #fff;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}

.semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transform: rotate(0deg) translate3d(0, 0, 0);
  transform-origin: center bottom;
  backface-visibility: hidden;
}
.semi-circle--mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  margin: -1px 0 0 -1px;
  background: #f2f2f2;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}

.bignum{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 25%;
    font-size: 3em;
    z-index: 5;
}
