div.card {
    padding: 1em;
}

.disabled {
    color: lightgrey;
}

.help-text {
    color: red;
    font-weight: bold;
}

.topline {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 20px;
}

.server_state {
}
