<h1>Policies</h1>

<div class="policy_holder">
  <div class="policy_button_box">
    <button *ngFor="let policy of policies"
            (click)="setPolicy(policy)"
            [class.current]="policy == this.current_policy">{{policy}}</button>
  </div>

  <div class="policy_comparison">
    <div class="us groups">
      <div class="spec_box">
        <div class="spec" [ngClass]="group" *ngFor="let group of us_groups">{{group}}</div>
      </div>
      <h2 class="group_name">Us</h2>
    </div>
    <div class="both groups">
      <div class="spec_box">
        <div class="spec" [ngClass]="group" *ngFor="let group of both_groups">{{group}}</div>
      </div>
      <h2 class="group_name">Both</h2>
    </div>
    <div class="them groups">
      <div class="spec_box">
        <div class="spec" [ngClass]="group" *ngFor="let group of them_groups">{{group}}</div>
      </div>
      <h2 class="group_name">Them</h2>
    </div>
  </div>
</div>
