button.current {
  background-color: lightblue;
}

.policy_holder {
  display: flex;
  flex-direction: row;
  width: 531px;
}

.groups {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
}

.group_name {
  margin: .2em 1em;
}

.spec_box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.compliant {
  border: 1px black solid;
  background-color: #81cc8e;
  border-radius: 15px 0px 0px 15px;
  width: 60%;
}

.notcompliant {
  border: 1px black solid;
  background-color: #e28a9d;
  border-radius: 0px 15px 15px 0px;
  width: 40%;
}

.spec {
  border: 1px black solid;
  /* border-radius: 5px;
  padding: 5px; */
  border-radius: .2em;
  padding: .2em;
  text-align: center;
  margin: .5em;
  background-color: white;
  color: black;
  text-transform: capitalize;
}

.info_box {
  /* width: 400px; */
  width: 90%;
}
