<h1>Policies</h1>

<div class="policy_holder">
  <div class="policy_comparison">
    <div class="compliant groups">
      <h2 class="group_name">Complient</h2>
      <div class="spec_box">
        <div class="spec" *ngFor="let group of compliant_groups">{{group}}</div>
      </div>
    </div>
    <div class="notcompliant groups">
      <h2 class="group_name">Non-Compliant</h2>
      <div class="spec_box">
        <div class="spec" *ngFor="let group of not_compliant_groups">{{group}}</div>
      </div>
    </div>
  </div>
</div>
