button.current {
  background-color: lightblue;
}

.policy_holder {
  display: flex;
  flex-direction: column;
}

.policy_comparison {
  width: 80%;
  display: flex;
}

.policy_button_box {
  display: flex;
  flex-direction: row;
}

.groups {
  flex-basis: 33%;
  display: flex;
  justify-content: flex-end;
}

.group_name {
  margin: .5em;
}

.spec_box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.us {
  border: 1px black solid;
  background-color: #81cc8e;
  border-radius: 15px 0px 0px 15px;
}

.both {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  background-color: #FFFFD5;
}

.them {
  border: 1px black solid;
  background-color: #90D1E2;
  border-radius: 0px 15px 15px 0px;
}

.spec {
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.Ortho {
  background-color: #4283CC;
  color: white;
}
.Neuro {
  background-color: #8453B2;
  color: white;
}
.Trauma {
  background-color: #B24339;
  color: white;
}
.Anesth {
  background-color: #FF5688;
  color: white;
}
