<h2>Policies</h2>
<div class="info_box">
  <p>Your policies for this speciality which are considered compliant.</p>
</div>
<div class="policy_holder">
  <div class="compliant groups">
    <h2 class="group_name">Compliant</h2>
    <div class="spec_box">
      <div class="spec" *ngFor="let group of compliant_groups">{{group}}</div>
    </div>
  </div>
  <div class="notcompliant groups">
    <h2 class="group_name">Non‑Compliant</h2>
    <div class="spec_box">
      <div class="spec" *ngFor="let group of not_compliant_groups">{{group}}</div>
    </div>
  </div>
</div>
