.user_management {
  display: flex;
  justify-content: space-evenly;
}

#user_home{
  padding-left: 1em;
}

.center-button {
  background-color: #17a2b8;
}

.system-button {
  background-color: #ffc107;
}

.delete-button {
  background-color: #dc3545;
}
